In [4]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from scipy.stats import linregress
import numpy as np

In [5]:
filename = Path("accident_data.csv")
#filename = Path("us_population_data.csv")
# read multiple csv files
#accidents_df = pd.read_csv("accident_data.csv")
#us_population_df = pd.read_csv("us_population_data.csv")

#print(accidents_df.head())
#print(us_population_df.head())

In [6]:
accidents_df = pd.read_csv("accident_data.csv")
accidents_df.head()

   YEAR STATE  RATE DEATHS                                       URL
0  2021    AL  68.9   3491     /nchs/pressroom/states/alabama/al.htm
1  2021    AK  84.5    591      /nchs/pressroom/states/alaska/ak.htm
2  2021    AZ  78.6   5961     /nchs/pressroom/states/arizona/az.htm
3  2021    AR  65.8   2046    /nchs/pressroom/states/arkansas/ar.htm
4  2021    CA  50.6  20879  /nchs/pressroom/states/california/ca.htm

In [7]:
accident_data_df = pd.read_csv(filename)

# display data frame
accident_data_df.head(5)

   YEAR STATE  RATE DEATHS                                       URL
0  2021    AL  68.9   3491     /nchs/pressroom/states/alabama/al.htm
1  2021    AK  84.5    591      /nchs/pressroom/states/alaska/ak.htm
2  2021    AZ  78.6   5961     /nchs/pressroom/states/arizona/az.htm
3  2021    AR  65.8   2046    /nchs/pressroom/states/arkansas/ar.htm
4  2021    CA  50.6  20879  /nchs/pressroom/states/california/ca.htm

In [8]:
# delete URL column
accident_data_df = accident_data_df.drop(['URL'], axis=1)

# display the first 5 rows of the dataframe
accident_data_df.head()

   YEAR STATE  RATE DEATHS
0  2021    AL  68.9   3491
1  2021    AK  84.5    591
2  2021    AZ  78.6   5961
3  2021    AR  65.8   2046
4  2021    CA  50.6  20879

In [9]:
# delete all years in YEARS column except year 2021
accident_data_df = accident_data_df[accident_data_df['YEAR'].isin([2021])]
accident_data_df.head()

   YEAR STATE  RATE DEATHS
0  2021    AL  68.9   3491
1  2021    AK  84.5    591
2  2021    AZ  78.6   5961
3  2021    AR  65.8   2046
4  2021    CA  50.6  20879

In [10]:
# display the DEATHS column with highest values first
#sorted_deaths_df = accident_data_df.sort_values(by='DEATHS', ascending=False)

# display the first 10 rows
#print(sorted_deaths_df.head(10))

#convert the DEATHS column to numeric
accident_data_df['DEATHS'] = pd.to_numeric(accident_data_df['DEATHS'])

# display the DEATHS column with highest values first
descending_deaths_df = accident_data_df.sort_values(by='DEATHS', ascending=False)

# display the first 10 rows
print(descending_deaths_df.head(5))

    YEAR STATE  RATE  DEATHS
4   2021    CA  50.6   20879
8   2021    FL  74.7   17780
42  2021    TX  50.7   14704
37  2021    PA  73.5   10327
31  2021    NY  47.0   10140

In [13]:
# display the DEATHS column with lowest values first
ascending_deaths_df = descending_deaths_df.sort_values(by='DEATHS', ascending=True)

# display the first 5 rows of the sorted dataframe
print(ascending_deaths_df.head())

    YEAR STATE  RATE  DEATHS
49  2021    WY  63.0     381
33  2021    ND  56.5     469
44  2021    VT  77.8     536
1   2021    AK  84.5     591
40  2021    SD  62.4     596

In [16]:
# create bar chart for the number of accidents per year
#state_counts = accident_data_df['STATE'].value_counts().sort_index()
#year_counts.plot(kind='bar', figsize=(10,5), color='blue', alpha=0.5, align="center")
#plt.title("Number of Accidents per State")
#plt.xlabel("STATE")
#plt.ylabel("DEATHS")
#plt.show()